.block {
    background-color: #f6f6f6;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 24px;
}
.list-item {
    background-color: white;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.list-item:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.list-item__top {
    align-items: center;
    justify-content: space-between;
}
.list-item-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.list-item__heading {
    font-size: 16px;
    font-weight: 500;
}
.list-item__subheading {
    font-size: 14px;
    color: #616161;
}
.edit-button {
    background-image: url('../../public/edit.png');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: white;
    transition: transform 0.3s ease;
}
.edit-button:hover {
    background-image: url('../../public/hover-edit.png');
    transform: scale(1.1);
}
.list-item-intro {
    width: 100%;
    align-items: center;
    gap: 16px;
}
.list-item__bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 2fr));
    gap: 24px;
}
@media (max-width: 900px) {
    .list-item__bottom {
        grid-template-columns: 1fr;
    }
}