.settings__input {
    width: 100%;
}

.settings__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headings {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 16px;
    padding-top: 32px;
    padding-left: 48px;
}

.headings p:not(:first-child) {
    text-align: right;
}

.table__heading {
    font-size: 16px;
    font-weight: 600;
}

.settings__list-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: white;
    padding: 24px 16px;
}
